# ignore everything in the root except the "wp-content" directory.
# !wp-content/

# ignore everything in updates except released ghosts:
updates/*
!updates/zhorakorzhev
!updates/kiselewmikola

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore progress/dev stuff
# remember to figure out what phiori stuff isn't needed.
000_Dev Stuff/
000_Dev_Stuff/
profile/
*yaya_variable.cfg
*aya_variable.cfg
*.kra
*.kra~
style1.css
unused.png
unused2.png
zzz_todo.dic

# ignore the autosaves vim makes
*.html~
*.css~
*.dic~
*.txt~
*.un~
