/*This is a CSS comment! Anything between these tags will not be run and is for your reference. Everything in this file has to do with how the website looks; I've pointed out areas where you can pick text/background colors, etc. If you want to look into doing more specific effects, google is your best friend! You can also look at what's available at https://www.w3schools.com/ */
/*Template version 1.0.1*/

/*This affects every element on the site. You can change the font and font color here.*/
*
{ 
    font-family: 'Tahoma', sans-serif;
    color: #222020; /*Text color*/
    text-align: left;
}

body
{
    background: #7e6ddc; /*This is the background color for the whole site*/
    margin-left: 3%;
    margin-right: 3%;
}

article
{
    background: #beb8ff; /*This is the white boxes that the text is in. You can change this to anything you like*/
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.freezeframe article {
	background: #beb8ff; /*This is the white boxes that the text is in. You can change this to anything you like*/
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

footer
{
    text-align: center;
}

h1
{
	font-size: 16px;
}

h2
{
	font-size: 14px;
}

a
{
    color: #4b25c9; /*This is the color for links, such as the download link*/
    text-decoration: Underline;
    font-weight: bold;
}

/*Class for centering images*/
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.right
{
    display: block;
    margin-left: 75%;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px; /*If you want your images to be perfectly square, remove the border-radius bit*/
}

/*Classes for the download button*/
.dlbutton
{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #a098f4;
    max-width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.dlbutton:hover
{
    background-color: #857ddb;
}

/*This is for the webring, but you could use it for any center aligned text*/
.centertext
{
	text-align: center;
}

.version
{
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-align: center;
}

.version:hover
{
    background: #a098f4; /*If you dont want your version history to change color when you hover over it, remove this bit of code*/
    border-radius: 5px;
}

.credit /*Please leave this credit as-is if you use the template as given! If you start making major changes, you can go ahead and get rid of it tbh. Everything I've done here is very basic HTML/CSS*/
{
    text-align: center;
    color: #a4a4a4;
    font-size: 12px;
}

/* extras for 98 working. not sure why my version is missing the status bar...?*/

.status-bar {
  margin: 0px 1px;
  display: flex;
  gap: 1px;
}

.status-bar-field {
  box-shadow: inset -1px -1px  #dfdfdf, 
    inset 1px 1px #808080;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
}

/* Navbar container */
.navbar
{
  overflow: hidden;
  background-color: #beb8ff;
}

.navdivider
{
	padding-left: 10px;
	padding-right: 17px;
	margin-top: 8px;
	margin-bottom: 4px;
	text-align: center;
	font-size: 12px;
	height: 12px;
}

ul {
	/*white-space: nowrap;*/
}

ul, li {
	list-style ; none;
	display: inline;
	word-wrap: break-word;
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.gallery { /* this is the main div that wraps your gallery */
  display:flex;
  flex-wrap:wrap;
}

.gallery img {
  max-width: 100%; /* this sets the width for every image */
  max-height: 300px;
  height:auto; /* this sets the height for every image. Try setting it to 'auto' and see how it looks weird since every image has a slightly different height? */
  object-fit:cover; /* this crops the image so they are all the same size. This might be an issue if you have landscape AND portrait images. Feel free to take this property out temporarily to see exactly what it does! */
  
}

/* this is the div which CROPS every image */
.gallery > div {
  width:200px;
  height:150px;
  margin-right:10px; /* this controls the gaps between the images */
  margin-bottom:10px; /* this controls the gaps between the images */
}

/* this resizes the image on hover. note that objects in 'portrait'  */
.gallery img:hover {
  transform:scale(1.0); /* this scales up the image when you hover over it */
  object-fit:contain; /* this keeps the aspect ratio of the original images*/
}